										@charset "utf-8";
										/* CSS Document */
	
/* hình nền */
	body {
		background-image:url(../image%20film/hinhnenfilm4.png);
		background-attachment:fixed;
		margin:0;
		padding:0;
	} 

	div.header {
		background-image:linear-gradient(#00F, #906, #000);
		overflow:hidden;
		position:fixed;
		left:0;
		right:0;
		top:0;
		z-index:1;	
	}
	/* logo góc trái trên */
	div.head > a > img {
		width:15%;
		margin:0;
		float:left;
		padding-left:10px;
	}
	
	/* menu dòng 1 chữ trắng */
	ul.menu1 {
		list-style-type:none;
		font-size: 21px;
		display:flex;
		margin:0;
		padding:0;
	}	
	ul.menu1 > li {
		float:left;
		margin:10px;
		padding:3px 20px;
	}
	ul.menu1 > li > a {
		text-decoration:none;
		color:white;
	}	
	ul.menu1 > li > a:hover {
	color:yellow;
	}
		
	/* menu dòng 2 chữ vàng */	
	ul.menu2 {
		list-style-type:none;
		font-size:36px;
		display:flex;
		margin:0;
		padding:0;
		overflow:hidden;
	}	
	ul.menu2 > li {
		float:left;
		margin:25px;
		margin-left:50px;
		padding:0 25px;	
	}	
	ul.menu2 > li > a {
		text-decoration:none;
		color:#FF0;
	}
	ul.menu2 > li > a:hover {
		color:blue;
	}
	h1#head {
		padding:2px;
		color:#006;
		background-color:#FF0;
		text-align:center;
		text-transform:uppercase;
	}
	
	#a { border-radius:50%; width:100%; }
	#b { border-radius:50%; width:100%; }
	#c { border-radius:50%; width:100%; }
	#d { border-radius:50%; width:100%; }
	#e { border-radius:50%; width:100%; }
	
/* BODY */ 
	div#bodymain {
		position:relative;
		top:135px;	
	}

	/* body 1 */
	#body {
		width:90%;
		margin:0 auto;
		clear:both;
	}
	/* TAB */
	.tablink {
		background-color: #555;
		color: white;
		float: left;
		border: none;
		cursor: pointer;
		font-size: 36px;
		width:50%;
		height:70px;
		font-weight:bold;
	}
	
	div#chuyen {
		width:40%;
		margin:0 auto;
	}
	div#chuyen > button {
		border:1px solid white;
	}
		
		/* Change background color of buttons on hover */
	.tablink:hover {
		background:linear-gradient(#6FF, #FF0);
		color:#600;	
		}
		
		/* Set default styles for tab content */
	.tabcontent {
		color:red;
		display: none;
		padding: 50px;
		text-align: center;
		opacity:0.9;
		background-color:#306;
		opacity:0.9;
		border-radius:30px;	
		width:90%;
		}
	.tabcontent > img {
		width:100%;
	}	
	
/* FOOTER */ 
	div.footer { 
		background-image:linear-gradient(#00F, #000);
		overflow:hidden;
		clear:both;
		margin:0;
		padding:0;
		margin-top:150px;
		position:relative;
		top:110px;
	}
	div#footer1 {
		color:#FF0;	
		float:left;
		width:40%;
		padding:15px;
	}
	div#footer3 {
		width:15%;
		float:right;
	}
	div#footer3 > img {
		width:100%;
	}	
	/* gotoTop */
	div.goToTop {
		position:fixed;
		right:10px;
		bottom:40px;
		z-index:3;
	}
	
	div.goToTop a > img {
		display:block;
		background-color:#FFF;
		width:50px;
		border-radius:50%;
		opacity:0.5;
	}
	div.goToTop a > img:hover {
		opacity:1;	
	}
	
	
		
		
		
		