											@charset "utf-8";
											/* CSS Document */
	/* hình nền */
	body {
		background-image:url(../image%20film/hinhnenfilm4.png);
		background-attachment:fixed;
		margin:0;
		padding:0;
	} 
/* icon góc trái trên */
	div.head > a > img {
		width:15%;
		margin:0;
		float:left;
		padding-left:10px;
	}
	
/* HEADER  */
	div.top{
		background-image:linear-gradient(#00F, #906, #000);
		overflow:hidden;
		width:100%;
	}
/* menu dòng 1 chữ trắng */
	ul.menu1 {
		list-style-type:none;
		font-size: 21px;
		display:flex;
		margin:0;
		padding:0;
	}	
	ul.menu1 > li {
		float:left;
		margin:10px;
		padding:3px 20px;
	}
	ul.menu1 > li > a {
		text-decoration:none;
		color:white;
	}	
	ul.menu1 > li > a:hover {
	color:yellow;
	}
		
/* menu dòng 2 chữ vàng */	
	ul.menu2 {
		list-style-type:none;
		font-size:36px;
		display:flex;
		margin:0;
		padding:0;
		overflow:hidden;
	}	
	ul.menu2 > li {
		float:left;
		margin:25px;
		margin-left:50px;
		padding:0 25px;	
	}	
	ul.menu2 > li > a {
		text-decoration:none;
		color:#FF0;
	}
	ul.menu2 > li > a:hover {
		color:blue;
	}
	h1#head {
		padding:2px;
		color:#006;
		background-color:#FF0;
		text-align:center;
	}
	
	/*BODY TUYỂN DỤNG*/
	div.TuyenDung{
		text-transform:uppercase;
		background-color:#5c5c5c;
		width:66.5%;
		margin:0 auto;
		text-align:center;
		color:white;
		padding-top:1px;
		padding-bottom:1px;
		margin-top:20px;
		margin-bottom:20px;
		}
	/*PART TIME JOB*/
	div.p-time-job{
		text-transform:uppercase;
		background-color:#ffd555;
		width:66.5%;
		margin:0 auto;
		text-indent:50px;
		padding-top:1px;
		padding-bottom:1px;
		font-family:Arial, Helvetica, sans-serif;
		opacity:0.9;
		}
	div.content-ptimejob{
		padding-top:30px;
		margin:0 auto;
		width:60%;
		font-family:Arial, Helvetica, sans-serif;
		padding-left:100px;
		background-color:#fef7dc;
		padding-bottom:30px;
		opacity:0.9;	
		}
	div.content-ptimejob > span{
		font-weight:bold;
		}
	div.content-ptimejob > p {
			font-weight:bold;
		}
	/*GIÁM SÁT SẢNH*/
	div.giamsat{
		text-transform:uppercase;
		background-color:#ffd555;
		width:66.5%;
		margin:0 auto;
		text-indent:50px;
		padding-top:1px;
		padding-bottom:1px;
		font-family:Arial, Helvetica, sans-serif;
		opacity:0.9;
		}
	div.content-giamsat{
		padding-top:30px;
		margin:0 auto;
		width:60%;
		font-family:Arial, Helvetica, sans-serif;
		padding-left:100px;
		background-color:#fef7dc;
		padding-bottom:30px;
		opacity:0.9;
		}
	div.content-giamsat > ul{
		list-style-type:none;
		}
	/*CONTENT-FOOTER*/
	div.content-footer{
		width:33.25%;
		border-radius:15px 15px;
		border:1px solid;
		background-color:#ffd555;
		border-color:#ffd555;
		margin:0 auto;
		margin-top:25px;
		margin-bottom:15px;
		font-family:Arial, Helvetica, sans-serif;
		}
	div.content-footer > h2{
		text-align:center;
		text-transform:uppercase;
		}
	div.content-footer > p{
		text-align:center;
		}
	p.inhoa{
		text-transform:uppercase;
		}
	p.indam{
		font-weight:bold;
		}
/* FOOTER */ 
	div.footer { 
		background-image:linear-gradient(#00F, #000);
		overflow:hidden;
		clear:both;
		margin:0;
		padding:0;
		position:relative;
		top:110px;
	}
	div#footer1 {
		color:#FF0;	
		float:left;
		width:40%;
		padding:15px;
	}	
	div#footer3 {
		width:15%;
		float:right;
	}
	div#footer3 > img {
		width:100%;
	}	
	/* gotoTop */
	div.goToTop {
		position:fixed;
		right:10px;
		bottom:40px;
		z-index:3;
	}
	
	div.goToTop a > img {
		display:block;
		background-color:#FFF;
		width:50px;
		border-radius:50%;
		opacity:0.5;
	}
	div.goToTop a > img:hover {
		opacity:1;	
	}
	